<%= form_for([@articulo, @articulo.comentarios.build]) do |f| %>

  <div>
    <%= f.label :nombre, style: "display: block" %>
    <%= f.text_field :nombre %>
  </div>

  <div>
    <%= f.label :texto, style: "display: block" %>
    <%= f.text_area :texto %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
