<div class="container">
  <%= form_with(model: [medical_record.patient, medical_record]) do |form| %>
    <% if medical_record.errors.any? %>
      <div class="text-danger">

      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

        <ul>
         <% medical_record.errors.full_messages.each do |error| %>
            <li><%= error.html_safe %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div>
    <%= form.label :patient_id, class: "d-block" %>
    <p>
      <%= medical_record.patient_id %>
    </p>
    <%= form.hidden_field :patient_id %>
  </div>

  <div>
    <%= form.label :reason_consultation, "Motivo de consulta", class: "d-block" %>
    <%= form.text_area :reason_consultation %>
  </div>

  <div>
    <%= form.label :patology,"Antecedentes personales patológicos" , class: "d-block" %>
    <%= form.text_area :patology %>
  </div>

  <div>
    <%= form.label :non_pathological_personal_record, "Antecedentes personales no patológicos", class: "d-block" %>
    <%= form.text_area :non_pathological_personal_record %>
  </div>

  <div>
    <%= form.label :habits, "habitos", class: "d-block" %>
    <%= form.text_area :habits %>
  </div>
  <div>
    <%= form.label :hereditary_family_history, "Antecedentes heredofamiliares", class: "d-block" %>
    <%= form.text_area :hereditary_family_history %>
  </div>

  <div>
    <%= form.label :current_state, "Estado actual del paciente", class: "d-block" %>
    <%= form.text_field :current_state %>
  </div>

  <div>
    <%= form.label :notes, "notas de evolución",class: "d-block" %>
    <%= form.text_area :notes, rows: 5 %>
  </div>

  <div>
    <p>*El odontograma es de referencia para identificar los organos dentarios*</p>
    <%= image_tag("Odontogram.jpg", class: "d-block w-100") %>
  </div>
  <div class="mt-3">
    <%= form.submit %>
  </div>
  <% end %>
</div>
