<div id="<%= dom_id medical_record %>">
<table class="table table-striped">
  
  <tbody>
      <th scope="row">Patologías:</th>
      <td><%= medical_record.patology %></th>
      
    <tr>
      <th scope="row">Habitos:</th>
      <td><%= medical_record.habits %></td>
    </tr>
    <tr>
      <th scope="row">Esta de salud:</th>
      <td><%=medical_record.current_state %></td>
    </tr>
    <tr>
      <th scope="row">Notas</th>
      <td><%=medical_record.notes %></td>
    </tr>
    <tr>
      <th scope="row">Imagen</th>
      <td><%=medical_record.image %></td>
    </tr>
  </tbody>
</table>
</div>
  


