<div class= "container">
<h2>Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class= "form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"from-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Envíame instrucciones para restablecer la contraseña", class:"btn btn-dark" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>
