<h1 class="text-center">Tratamientos</h1>
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
      <div class="card-body">
        <h5 class="card-title">Endodoncia</h5>
        <p class="card-text">¿Sufres de dolor dental persistente? Nuestra especialidad en endodoncia ofrece una solución
        efectiva para tratar el dolor de manera permanente. Nuestro equipo altamente capacitado utiliza técnicas avanzadas
        para aliviar el malestar y preservar la vitalidad de tus dientes. Con un enfoque dedicado a tu comodidad y bienestar,
        te ofrecemos un tratamiento de endodoncia personalizado que restaurará la salud de tu sonrisa. No permitas que el
        dolor dental afecte tu calidad de vida. ¡Contáctanos hoy mismo y descubre cómo nuestra endodoncia puede brindarte alivio
        duradero y una sonrisa saludable!</div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
     <%= image_tag("endo.png", alt: "muestra", class: "card-img-top mx-auto", style:"width: 250px; height: 200px;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>