
<div class="container mt-5 text-center">
  <h1>Agenda</h1>
  <%= week_calendar(events: @appointments) do |date, appointments| %>
  <%= date.day %>

   <% appointments.each do |appointment| %>
  <div class="event">
    <div class = "card-header">
      <%= link_to appointment.title, appointment_path(appointment) %>
    </div>
  </div>
  
<div class="card-footer">
  <p class="card-text">
  <%= appointment.start_time.strftime("from %I:%M %p")%>
  </p>
  <p class="card-text">
  <%= appointment.end_time.strftime("to %I:%M %p")%>
  </p>
</div>
  
    <% end %>
  <% end %>
  <%= link_to "Regresar a citas", appointments_path %>
</div>
