<div class= "container">
<div id="<%= dom_id patient %>">
</div>
<table class="table table-striped">
  
  <tbody>
      <th scope="row">Nombre:</th>
      <td><%= patient.first_name %></th>
      
    <tr>
      <th scope="row">Apellido:</th>
      <td><%= patient.last_name %></td>
    </tr>
    <tr>
      <th scope="row">Correo:</th>
      <td><%= patient.email %></td>
    </tr>
    <tr>
      <th scope="row">Dirección:</th>
      <td><%= patient.address %></td>
    </tr>
    <tr>
      <th scope="row">Edad:</th>
      <td><%= patient.age %></td>
    </tr>
    <tr>
      <th scope="row">Genero:</th>
      <td><%= patient.genre %></td>
    </tr>
  </tbody>
</table>
</div>