<div id="<%= dom_id patient %>">

  <p>
    <strong>Nombre:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= patient.genre %>
  </p>
</div>
