<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>
<%= link_to "Nuevo paciente", new_patient_path %>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td> <%= patient.first_name %> </td>
        <td> <%= patient.last_name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="patients">
  <% @patients.each do |patient| %>
    <%= render patient %>
    <p>
      <%= link_to "Mostrar paciente", patient %>
    </p>
  <% end %>
</div>


