<p style="color: green"><%= notice %></p>
<div class= "container ">
<h1>Pacientes</h1>
<%= link_to "Nuevo paciente", new_patient_path,class:"btn btn-outline-secondary btn-sm"%>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td> <%= patient.first_name %> </td>
        <td> <%= patient.last_name %> </td>
        <td> <%= link_to "Mostrar este paciente", patient %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

