<div class="simple-calendar">
  <div class="container mt-5 text-center">
    <h1>Agenda</h1>
    <%= link_to "Nueva cita", new_appointment_path, class:"btn btn-outline-secondary btn-sm" %>
    <%= week_calendar(events: @appointments) do |date, appointments| %>
      <%= puts date %>
      <div class="row">
        <div class="col">
          <% (8..20).each do |hour| %>
            <div>
              <strong><%= "%02d:00" % hour %></strong>
              <% if appointments.any? { |appointment| appointment.start_time.hour == hour } %>
                <% appointments.select { |appointment| appointment.start_time.hour == hour }.each do |appointment| %>
                  <div class="event">
                    <div class="card-header">
                      <%= link_to appointment.title, appointment_path(appointment), class: "badge badge-success" %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="event">
                  <div class="card-header">
                    <%= link_to "Nueva cita", new_appointment_path(selected_date: "#{date} #{hour}"), class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to "Regresar a citas", appointments_path %>
  </div>
</div>
