<div class= "container ">
   <p class="text-success"><%= notice %></p>
  <blockquote class="blockquote text-center">
    <h1> TODAS LAS CITAS</h1>
    <%= link_to "CALENDARIO", calendar_appointments_path, class:"btn btn-outline-secondary btn-sm" %>
  </blockquote>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Titulo</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><i class="fa-regular fa-calendar"></i></td>
          <td><%= appointment.title %></td>
          <td><%= appointment.start_time.to_fs(:short) %></td>
          <td><%= link_to "Muestra esta cita", appointment,class:"btn btn-outline-secondary btn-sm" %></td>
          <td><%= link_to "Posponer", new_appointment_path(preloaded_appointment_id: appointment.id), class: "btn btn-outline-secondary btn-sm posponer", id: "appointment_#{appointment.id}"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $(".posponer").click(function(event) {
      event.preventDefault();
      });
  });
</script>


