<div class= "container ">
<p style="color: green"><%= notice %></p>
<h1> CITAS</h1>

<%= link_to "CALENDARIO", calendar_appointments_path, class:"btn btn-outline-secondary btn-sm" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
  <tr>
  <td><%=appointment.title%></td>
  <td> <%=appointment.start_time%></td>
  <td><%= link_to "Muestra esta cita", appointment,class:"btn btn-outline-secondary btn-sm" %> </td>
  </tr>
  <% end %>
  </tbody>
  </table>
  </div>


