<h1><%=@articulo.titulo%></h1>

<p> Cread el <%=@articulo.created_at.strftime("%d-%m-%Y") %><p>

<p><%=@articulo.contenido%></p>

<%= link_to "Editar", edit_articulo_path(@articulo)%> <br>
 <%= button_to "Eliminar este articulo", @articulo, method: :delete, data: {confirm:"¿seguro que quieres eliminar este artículo?"} %>
 

